<mat-toolbar class="custom-toolbar">
  <img src="assets/images/beautb.png" alt="Icon" class="brand-icon">

  <div class="toolbar-title">
    <h2>
      <span class="brand-name-your">Your</span>
      <span class="brand-name-beauty">Beauty</span>
    </h2>
  </div>

  <nav class="nav-menu">
    <a href="#" class="nav-item nav-item-explore">Explore</a>
    <a href="#" class="nav-item nav-item-articles">New Articles</a>
    <a href="#" class="nav-item nav-item-my-beauty">My Beauty</a>
  </nav>

  <span style="flex: 1"></span> <!-- Flex spacer to push profile section to the right -->

  <div class="user-profile">

    <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/91b5e355f129bbdabe30942f91740dbfeb9cf0fd3f22a7b8645d78f7d3a92b12?placeholderIfAbsent=true&apiKey=4de05f88efb54b6cb116a3e42dffdf27" alt="Notification icon" class="notification-icon">
    <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/4859a91652aad8fd065f2894ab720e957e21044cd73a6dca440c315e4495acfa?placeholderIfAbsent=true&apiKey=4de05f88efb54b6cb116a3e42dffdf27" alt="User profile picture" class="profile-picture">
    <div class="user-name-wrapper">
      <span class="user-name">{{name}}</span>
      <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/805c1ca4b73c4c2f0298fc85513ee36ea8fdc2ea4e24716af59db3eb43dd13d4?placeholderIfAbsent=true&apiKey=4de05f88efb54b6cb116a3e42dffdf27" alt="Dropdown" class="dropdown-icon">
    </div>
  </div>
</mat-toolbar>

<mat-drawer-container>
  <mat-drawer opened="true" mode="side" position="start">
    <mat-list>
      <mat-list-item>
        <button mat-raised-button style="background-color: #D562F2;color: white">
          <mat-icon>dashboard</mat-icon>
          Dashboard
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button routerLink="/main">
          <mat-icon>home</mat-icon>
          Home
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button (click)="loadComponent('artistic')">
          <mat-icon>book</mat-icon>
         My Articles
        </button>
      </mat-list-item>

      <mat-list-item>
        <button mat-button (click)="loadComponent('recipe-list')">
          <mat-icon>receipt</mat-icon>
         My Recipes
        </button>
      </mat-list-item>

      <mat-list-item>
        <button mat-button (click)="loadComponent('email')">
          <mat-icon>message</mat-icon>
          Contact Specialist
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button (click)="logout()">
          <mat-icon>launch</mat-icon>
          Logout
        </button>
      </mat-list-item>
    </mat-list>
  </mat-drawer>

  <mat-drawer-content>
    <div style="min-height: 600px">
      <ng-container #componentContainer></ng-container>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
