
<div class="table-div">
  <table mat-table [dataSource]="listrecipe" class="mat-elevation-z8 demo-table">

    <!-- Image Column -->
    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef>Image</th>
      <td mat-cell *matCellDef="let recipe">
        <img [src]="'data:image/png;base64,' + recipe.image" alt="Image" style="width: 150px; height: auto;">
      </td>
    </ng-container>

    <!-- Title Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let recipe">{{recipe.name}}</td>
    </ng-container>

    <!-- Content Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>description</th>
      <td mat-cell *matCellDef="let recipe">{{recipe.description}}</td>
    </ng-container>
    <ng-container matColumnDef="ingredients">
      <th mat-header-cell *matHeaderCellDef>ingredients</th>
      <td mat-cell *matCellDef="let recipe">{{recipe.ingredients}}</td>
    </ng-container>
    <ng-container matColumnDef="instructions">
      <th mat-header-cell *matHeaderCellDef>Instructions</th>
      <td mat-cell *matCellDef="let recipe">{{recipe.instructions}}</td>
    </ng-container>
    <!-- Date Column -->


    <!-- Delete Column -->
    <ng-container matColumnDef="deleteRecipe">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let recipe">
        <button mat-button color="warn" (click)="deleteRecipe(recipe.id)">Delete</button>
      </td>
    </ng-container>

    <!-- Table Header and Rows -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let recipe; columns: displayedColumns;"></tr>
  </table>

  <div>
    <h3>Click Log</h3>
  </div>

  <!-- Conditional message if no rows are clicked -->
  <div *ngIf="!clickedRows.size">Clicked rows will be logged here</div>

  <ul>
    <li *ngFor="let clickedRow of clickedRows">Clicked on {{clickedRow.name}}</li>
  </ul>
</div>
