.events-container {
  display: flex;
  flex-direction: column;
}
.main-image-container{
  width: 100%;
  aspect-ratio: 2.51;
  object-fit: contain;
  object-position: center;

}
.main-logo{
  width: 70px;
  margin-left: 5px;
}
.main-div{
  background-color: violet;
}
.main-full-width-image{
  width: 1000px;
  object-position: center;

}
.events-wrapper {
  background-color: #fff;
  display: flex;
  width: 87%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 53px 80px;
}

@media (max-width: 991px) {
  .events-wrapper {
    max-width: 100%;
    padding: 0 20px;
  }
}

.events-content {
  display: flex;
  width: 100%;
  max-width: 1181px;
  flex-direction: column;
}

@media (max-width: 991px) {
  .events-content {
    max-width: 100%;
  }
}

.events-header {
  display: flex;
  width: 100%;
  align-items: start;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: 991px) {
  .events-header {
    max-width: 100%;
  }
}

.events-title-wrapper {
  display: flex;
  height: 48px;
  align-items: center;
  gap: -240px;
  color: #171a1f;
  justify-content: end;
  font: 700 32px Encode Sans, sans-serif;
}

.events-title {
  transform: rotate(2.4492937051703357e-16rad);
  align-self: stretch;
  width: 326px;
  margin: auto 0;
}

.events-icon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 24px;
  align-self: stretch;
  margin: auto 0;
}

.view-more-btn {
  transform: rotate(2.4492937051703357e-16rad);
  border-radius: 6px;
  background-color: #ecbaf0;
  margin-top: 12px;
  min-height: 44px;
  overflow: hidden;
  color: #fef1f6;
  padding: 0 15px;
  font: 400 16px/2 Mulish, sans-serif;
}

.events-menu {
  background-color: transparent;
  display: flex;
  margin-top: 20px;
  min-height: 52px;
  width: 837px;
  max-width: 100%;
  align-items: center;
  color: #565e6c;
  justify-content: start;
  flex-wrap: wrap;
  font: 400 14px/2 Mulish, sans-serif;
}

.menu-item {
  border-radius: 6px;
  align-self: stretch;
  min-height: 52px;
  overflow: hidden;
  white-space: nowrap;
  flex-grow: 1;
  margin: auto 0;
}

.menu-item-active {
  background-color: #fcdfea;
  color: #f26298;
  font-weight: 700;
  width: 86px;
}

.menu-item-inactive {
  background-color: transparent;
}

@media (max-width: 991px) {
  .menu-item {
    white-space: initial;
  }
}

.events-list {
  margin-top: 24px;

}

@media (max-width: 991px) {
  .events-list {
    max-width: 100%;
    margin-right: 5px;
  }
}

.events-grid {
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 991px) {
  .events-grid {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}

.event-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: normal;
  width: 28%;
  margin: 12px;
  margin-left: 28px;
}

@media (max-width: 991px) {
  .event-column {
    width: 100%;
  }
}

.event-card {
  border-radius: 6px;
  background-color: #fff;
  display: flex;
  flex-grow: 1;
  padding-bottom: 26px;
  flex-direction: column;
  overflow: hidden;
  font-family: Mulish, sans-serif;
  width: 100%;
  border: 1px solid #dee1e6;
}

@media (max-width: 991px) {
  .event-card {
    margin-top: 19px;
  }
}

.event-image {
  aspect-ratio: 1.7;
  object-fit: contain;
  object-position: center;
  width: 100%;
}

.event-details {
  display: flex;
  margin-top: 14px;
  width: 100%;
  flex-direction: column;
  align-items: start;
  padding: 0 24px;
}

@media (max-width: 991px) {
  .event-details {
    padding-left: 20px;
  }
}

.event-header {
  align-self: stretch;
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.event-name {
  transform: rotate(2.4492937051703357e-16rad);
  color: #323842;
  font-size: 16px;
  font-weight: 700;
  line-height: 2;
}

.event-price {
  transform: rotate(2.4492937051703357e-16rad);
  color: #f26298;
  font-size: 14px;
  font-weight: 400;
  line-height: 2;
  text-align: right;
  margin: auto 0;
}

.event-date {
  display: flex;
  margin-top: 14px;
  gap: 8px;
  font-size: 14px;
  color: #f26298;
  font-weight: 700;
  line-height: 2;
}

.event-icon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 16px;
  margin: auto 0;
}

.event-datetime {
  transform: rotate(2.4492937051703357e-16rad);
  flex-basis: auto;
}

.event-location {
  display: flex;
  margin-top: 8px;
  gap: 8px;
  font-size: 14px;
  color: #6e7787;
  font-weight: 400;
  line-height: 2;
}

.event-venue {
  transform: rotate(2.4492937051703357e-16rad);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;

}

.full-width-image {
  aspect-ratio: 2.51;
  object-fit: contain;
  object-position: center;
  width: 100%;
}

@media (max-width: 991px) {
  .full-width-image {
    max-width: 100%;
  }
}



<!---->
.articles-section {
  display: flex;
  flex-direction: column;
}

.articles-container {
  background-color: #F8EAF9;
  display: flex;
  width: 87%;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  padding: 53px 80px 83px;
}

@media (max-width: 991px) {
  .articles-container {
    max-width: 100%;
    padding: 0 20px;
  }
}

.articles-wrapper {
  display: flex;
  width: 100%;
  max-width: 1176px;
  flex-direction: column;
}

@media (max-width: 991px) {
  .articles-wrapper {
    max-width: 100%;
  }
}

.articles-header {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: 991px) {
  .articles-header {
    max-width: 100%;
    margin-right: 2px;
  }
}

.articles-title {
  color: #171A1F;
  font: 700 32px Encode Sans, sans-serif;
}

.view-more-btn {
  border-radius: 6px;
  background-color: #D562F2;
  align-self: start;
  min-height: 44px;
  overflow: hidden;
  color: #FEF1F6;
  padding: 0 15px;
  font: 400 16px/2 Mulish, sans-serif;
}

.articles-grid {
  margin-top: 34px;
}

@media (max-width: 991px) {
  .articles-grid {
    max-width: 100%;
  }
}

.articles-row {
  gap: 20px;
  display: flex;
}

@media (max-width: 991px) {
  .articles-row {
    flex-direction: column;
    align-items: stretch;
    gap: 0;
  }
}

.article-column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 50%;
  margin-left: 0;
}

@media (max-width: 991px) {
  .article-column {
    width: 100%;
  }
}

.article-card {
  border-radius: 6px;
  background-color: #FFF;
  display: flex;
  flex-grow: 1;
  padding-bottom: 42px;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  font: 14px/2 Mulish, sans-serif;
}

@media (max-width: 991px) {
  .article-card {
    max-width: 100%;
    margin-top: 24px;
  }
}

.article-image-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 229px;
  width: 100%;
  align-items: flex-end;
  color: #FFF;
  font-weight: 400;
  padding: 0 80px 193px;
}

@media (max-width: 991px) {
  .article-image-wrapper {
    max-width: 100%;
    padding: 0 0 100px 20px;
  }
}
#read_btn{
  width: 111px;
  height: 33px;
  background-color: violet;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}
#read_btn:hover{

  background-color: #efc1ef;

}
.article-image {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.article-tag {
  position: relative;
  background-color: transparent;
  display: flex;
  margin-bottom: -39px;
  width: 108px;
  max-width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 991px) {
  .article-tag {
    margin-bottom: 10px;
  }
}

.tag-frame {
  border-radius: 0 0 0 18px;
  background-color: #7AA874;
  display: flex;
  min-height: 36px;
  width: 100%;
  align-items: center;
  gap: 6px;
  overflow: hidden;
  justify-content: start;
  padding: 0 9px 0 12px;
}

.tag-icon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 20px;
  align-self: stretch;
  margin: auto 0;
}

.article-content {
  z-index: 10;
  display: flex;
  margin-top: -14px;
  width: 100%;
  flex-direction: column;
  padding: 0 24px;
}

@media (max-width: 991px) {
  .article-content {
    max-width: 100%;
    padding-left: 20px;
  }
}

.article-icon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 28px;
  border-radius: 14px;
}

.article-details {
  display: flex;
  margin-top: 15px;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: 991px) {
  .article-details {
    max-width: 100%;
  }
}

.article-info {
  display: flex;
  flex-direction: column;
  align-items: start;
  font-weight: 700;
}

.article-title {
  color: #171A1F;
  font-size: 16px;
  line-height: 2;
}

.article-date {
  align-self: stretch;
  display: flex;
  margin-top: 14px;
  gap: 8px;
  color: #F26298;
}

.date-icon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 16px;
  margin: auto 0;
}

.date-text {
  flex-grow: 1;
  width: 182px;
}

.article-location {
  display: flex;
  margin-top: 8px;
  gap: 8px;
  color: #6E7787;
  font-weight: 400;
}

.location-icon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 16px;
  margin: auto 0;
}

.article-price {
  color: #F26298;
  font-weight: 400;
  text-align: right;
  align-self: start;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
.image-container {
  display: flex;
  flex-direction: column;
}

.full-width-image {
  aspect-ratio: 2.06;
  object-fit: contain;
  object-position: center;
  width: 100%;
}

@media (max-width: 991px) {
  .full-width-image {
    max-width: 100%;
  }
}
.beauty-header {
  display: flex;
  flex-direction: column;
}

.beauty-container {
  background-color: #fff;
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12);
  display: flex;
  width: 87%;
  gap: 20px;
  overflow: hidden;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 28px 80px 17px;
}

@media (max-width: 991px) {
  .beauty-container {
    max-width: 100%;
    padding: 0 20px;
  }
}

.beauty-title {
  transform: rotate(2.4492937051703357e-16rad);
  margin: auto 0;
  font: 700 18px/2 Poppins, sans-serif;
}

.beauty-title-normal {
  font-size: 20px;
  line-height: 30px;
  color: #323842;
}

.beauty-title-highlight {
  font-size: 20px;
  line-height: 30px;
  color: #d562f2;
}

.beauty-actions {
  display: flex;
  gap: 34px;
  color: #fff;
  white-space: nowrap;
  font: 400 14px/2 Mulish, sans-serif;
}

@media (max-width: 991px) {
  .beauty-actions {
    white-space: initial;
  }
}

.beauty-button {
  transform: rotate(2.4492937051703357e-16rad);
  border-radius: 6px;
  background-color: #d562f2;
  display: flex;
  gap: 6px;
  overflow: hidden;
  padding: 14px 12px;
  border: none;
  cursor: pointer;
  color: #fff;
  font: inherit;
}

@media (max-width: 991px) {
  .beauty-button {
    white-space: initial;
  }
}

.beauty-button-icon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 16px;
  margin: auto 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
.custom-toolbar{
  background-color: white;
}
