<mat-toolbar class="custom-toolbar">
  <img src="assets/images/beautb.png" alt="Icon" style="width: 74px; height: 74px; margin-right: 8px;">
  <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>

  <h2>
    <span style="color: black;">Your</span>
    <span style="color: #D562F2;">Beauty</span>
  </h2>
<span style="flex: auto"></span>

  <button mat-button>Home</button>
  <button mat-button>profile</button>
  <button mat-button [matMenuTriggerFor]="importMenu">
    <mat-icon iconPositionEnd> keyboard_arrow_down</mat-icon>
    Import
  </button>
  <mat-menu #importMenu>
    <button mat-menu-item routerLink="/article">load Articles</button>
    <button mat-menu-item>load Recipes</button>
  </mat-menu>


  <button mat-raised-button  style="background-color: #D562F2;color: white">
    <mat-icon>add</mat-icon>
    Creat Article</button>
  <mat-icon>notifications_none</mat-icon>
</mat-toolbar>
<mat-drawer-container>
  <mat-drawer opened="true" mode="side" position="start">
    <mat-list>

      <mat-list-item>
        <button mat-raised-button  style="background-color: #D562F2;color: white">
          <mat-icon>dashboard</mat-icon>
          Dashboard</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button (click)="loadComponent('article')">
          <mat-icon>book</mat-icon>
          Article
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button (click)="loadComponent('artistic')">
          <mat-icon>book</mat-icon>
          Article list
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button (click)="loadComponent('recipes')">
          <mat-icon>receipt</mat-icon>
          Recipes</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button (click)="loadComponent('recipe-list')">
          <mat-icon>receipt </mat-icon>
          Recipes list</button>
      </mat-list-item>
      <mat-list-item>

        <button mat-button routerLink="/main">
          <mat-icon>home</mat-icon>
          Home</button>
      </mat-list-item>
<!--      <mat-list-item>-->
<!--        <button mat-button (click)="loadComponent('email')">-->
<!--          <mat-icon> message</mat-icon>-->
<!--          Contact Specialist</button>-->
<!--      </mat-list-item>-->
      <mat-list-item>
      <button mat-button (click)="logout()">
        <mat-icon>launch</mat-icon>
        Logout</button>
      </mat-list-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <div style="min-height: 600px">
      <ng-container #componentContainer></ng-container>
    </div>
  </mat-drawer-content>
</mat-drawer-container>

