<div class="article-container">
  <h1>Update an Recipe</h1>
  <form [formGroup]="formRecipe" (ngSubmit)="onSubmit()">
    <h3 class="upload-cover"> <mat-icon class="custom-icon">crop_original</mat-icon> Upload cover</h3>
    <div class="placeholder">
      <h6>Upload the Recipe cover</h6>
    </div>


    <div class="form-group">
      <label >Image</label>
      <input type="file" (change)="onFileChange($event)"  required />
    </div>


    <hr class="custom-line">
    <h3 class="upload-cover"> <mat-icon class="custom-icon">info</mat-icon> General information</h3>
    <div class="form-group">
      <label>name</label>
      <input formControlName="name" placeholder="name" />
    </div>
    <div class="form-group">
      <label >ingredients</label>
      <textarea formControlName="ingredients" placeholder="ingredients"></textarea>
    </div>
    <div class="form-group">
      <label >instructions</label>
      <textarea formControlName="instructions" placeholder="instructions"></textarea>
    </div>
    <div class="form-group">
      <label >description</label>
      <textarea formControlName="description" placeholder="description"></textarea>
    </div>

    <!--    <button type="submit" class="btn btn-primary" [disabled]="formArticle.invalid">Submit Order</button>-->
    <button type="submit">Update the Recipe</button>
  </form>

</div>



