

.article-container {
  background-color: #eae0ef;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(154, 87, 201, 0.2);
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #bd7fe1;
}

h1 span {
  color: #bd7fe1;
}

.upload-cover {
  color: #bd7fe1;
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.placeholder h6 {
  color: #bd7fe1;
  font-style: italic;
  font-size: 1rem;
}

input,
textarea,
select {
  border-radius: 10px;
  border: 1px solid violet;
}

textarea {
  min-height: 100px;
}

.form-label {
  font-weight: 600;
  color: #9747d9;
}

button {
  background-color: violet;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  padding: 12px;
}

button:hover {
  background-color: mediumvioletred;
}

.error {
  color: violet;
  font-weight: 500;
}
