<mat-toolbar class="custom-toolbar">
  <img src="assets/images/beautb.png" alt="Icon" style="width: 74px; height: 74px; margin-right: 8px;">
  <h2>
    <span style="color: black;">Your</span>
    <span style="color: #D562F2;">Beauty</span>
  </h2>
  <span style="flex: auto"></span>

  <button mat-raised-button routerLink="/login" style="background-color: #D562F2;color: white">
    <mat-icon>add</mat-icon>
    Login</button>

  <button mat-raised-button routerLink="/login" style="background-color: #D562F2;color: white">
    <mat-icon>add</mat-icon>
    Signup</button>
</mat-toolbar>

<section class="image-container">
  <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/40093e25a2acccc9f5453599e1daf8a71cd86d115e3bc2af0785ada7d12e8ed4?placeholderIfAbsent=true&apiKey=4de05f88efb54b6cb116a3e42dffdf27" class="responsive-image" alt=""/>
</section>

<section class="recipe-container">
  <h1 class="recipe-title">Recipe for <span class="highlight">hair loss</span></h1>
  <div class="recipe-content">
    <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/dcc0bffc4da9a2976d39eea35b3abcd74470a58b823ca56d26f40628979084ca?placeholderIfAbsent=true&apiKey=4de05f88efb54b6cb116a3e42dffdf27" alt="Hair loss recipe illustration" class="recipe-image" />
    <p class="recipe-date">February 20 | 08:00 PM</p>
    <div class="recipe-ingredients">
      <h2>Avocado & Coconut Oil Hair Mask</h2>
      <h3>Ingredients:</h3>
      <ul class="ingredient-list">
        <li>1 ripe avocado</li>
        <li>2 tablespoons of coconut oil</li>
        <li>1 tablespoon of honey (optional, for extra moisture)</li>
        <li>1 tablespoon of olive oil (optional, for added shine)</li>
      </ul>
    </div>
  </div>
  <h2 class="comment-section-title">Add <span class="highlight">Comment</span></h2>
  <form class="comment-form">
    <label for="commentInput" class="visually-hidden">Enter your comment</label>
    <textarea id="commentInput" class="comment-input" placeholder="Enter your comment" aria-label="Enter your comment"></textarea>
    <button type="submit" class="comment-submit">Comment</button>
  </form>
</section>
